<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Novo Pedido</title>
    <link rel="stylesheet" href="../view/style.css">
</head>
<body>
    <div class="container">
    <header>
        <h1>Criar Novo Pedido</h1>
    </header>

    <form action="/pedidos/criar" method="post">
        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" name="cliente" required>
        
        <label for="carro">Carro:</label>
        <input type="text" id="carro" name="carro" required>
        
        <label for="dataInicio">Data de Início:</label>
        <input type="date" id="dataInicio" name="dataInicio" required>
        
        <label for="dataFim">Data de Fim:</label>
        <input type="date" id="dataFim" name="dataFim" required>
        
        <button type="submit">Criar Pedido</button>
    </form>

    <a class="button" href="index.html">Voltar para a Página Inicial</a>

</div>
</body>
</html>


